@import "~@angular/material/theming";

$plantl-color: #298daf;
$secondary-color: #666666;
$mat-toolbar-height: 64px;

.primary-color {
  color: $plantl-color;
}
.secondary-color {
  color: $secondary-color;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 17rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-card {
  margin: 1rem 0;

  &:hover {
    @include mat-elevation(8);
  }

  .mat-card-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .mat-card-content {
    margin-top: 1em;
  }

  mat-card-actions {
    padding: 0 0.6em;
  }
}

.spacer {
  flex: 1 1 auto;
}

.temu-logo {
  color: inherit;
  text-decoration: none;
  margin-left: 0.5rem;
  font-weight: 600;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

h1.heading {
  font-size: 3em;
  font-weight: bold;
  line-height: 3rem;
}

h2.heading {
  font-size: 2em;
  font-weight: 700;
}

.main {
  padding: $mat-toolbar-height 1.5rem;
}

.main-desktop {
  padding: $mat-toolbar-height 20vw;
}

.section {
  padding-top: $mat-toolbar-height;
}

.hero-image {
  height: 5rem;
  width: auto;
  max-width: 100%;
  padding: 1rem 0;
}

.spanish {
  font-style: italic;
}

.heading-link {
  cursor: pointer;
  margin-left: 0.5rem;
}

.heading .heading-link {
  visibility: hidden;
}

.heading:hover .heading-link {
  visibility: visible;
}

li {
  margin-bottom: 0.5rem;
}

footer {
  font-size: small;
  background-color: white;
  padding: 1rem;

  img {
    max-width: 266px;
    height: 72px;
    margin: 0.5rem 0;
    filter: grayscale(100%);
  }

  mat-divider {
    width: 266px;
  }
}

.mat-chip {
  color: #666666;
  padding: 0 4px;
  border-radius: 4px;
  min-height: 21px;
  font-size: 0.9em;
}

.mat-button,
.mat-raised-button {
  font-weight: 700;
}

.header-links {
  font-size: small;
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

// https://stackoverflow.com/a/56839267
a {
  text-decoration: none;
  color: $plantl-color;
  display: inline-block;
}
a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: $plantl-color;
  display: block;
  transition: width 0.5s ease;
}
a:hover::after,
a:focus::after {
  width: 100%;
}
