<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" class="sidenav" fixedInViewport>
    <mat-toolbar>
      <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
      <span style="margin-left: .5rem;">Go to section</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a *ngFor="let section of sections" mat-list-item href="#{{ section.id }}" (click)="drawer.close()">
        {{ section.title }}
        <mat-divider></mat-divider>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4">
      <button fxHide.gt-md aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [href]="getBaseUrl()" class="temu-logo">TEMU</a>
      <span class="spacer"></span>
      <mat-nav-list fxHide fxShow.gt-md fxLayout fxLayoutAlign="center center">
        <a *ngFor="let section of sections" mat-list-item href="#{{ section.id }}" class="header-links">
          {{ section.title }}
        </a>
      </mat-nav-list>
    </mat-toolbar>
    <main class="main" ngClass.gt-sm="main-desktop">
      <h1 class="heading"><span class="plantl-color">Biomedical</span> Text Mining Unit</h1>
      <p class="secondary">OTG Sanidad | Secretaría de Estado para la Agenda Digital</p>
      <section class="section" fxLayout="column" fxLayout.gt-sm fxLayoutGap="1rem">
        <mat-card fxFlex.gt-sm="50%">
          <img src="assets/images/BSC-blue.svg" alt="BSC logo" class="hero-image">
          <p>
            The Text Mining Unit (TEMU) at Barcelona Super Computing Center focuses on the application and development
            of biomedical text mining technologies, which are becoming a key tool for the efficient exploitation of
            information contained in unstructured data repositories including the scientific literature, electronic
            health records (EHRs), patents, biobank metadata, clinical trials and social media.
          </p>
          <p>
            The unit has a particular interest in processing clinical documents written in Spanish and other co-official
            languages in the area of health-related topics and the integration of molecular and biological information
            derived from the literature.
          </p>
          <a href="https://www.bsc.es/" target="_blank" mat-button color="primary">BSC website
            <mat-icon>open_in_new</mat-icon>
          </a>
        </mat-card>
        <mat-card fxFlex.gt-sm="50%">
          <img src="assets/images/plantl.png" alt="Plan TL logo" class="hero-image">
          <p>The unit is fully funded through the
            <span class="spanish">Plan de Impulso de las Tecnologías del Lenguaje de la Agenda Digital (Plan TL)</span>
            , in the framework of an agreement (known as <span class="spanish">encomienda</span>) between BSC and the
            <span class="spanish">
              <a href="https://www.mineco.gob.es" target="_blank">Ministerio de Asuntos Económicos y Transformación Digital</a>
            </span>.
          </p>
          <a href="https://www.plantl.gob.es/" target="_blank" mat-button color="primary">Plan TL website
            <mat-icon>open_in_new</mat-icon>
          </a>
        </mat-card>
      </section>
      <section *ngFor="let section of sections" id="{{ section.id }}" class="section">
        <h2 *ngIf="section.title" class="heading plantl-color" fxLayoutAlign="start center">
          <span>{{ section.title }}</span>
          <a mat-icon-button href="#{{ section.id }}" class="heading-link"
            [cdkCopyToClipboard]="getAnchorUrl(section.id)" matTooltip="Copy heading link" matTooltipPosition="above">
            <mat-icon>link</mat-icon>
          </a>
        </h2>
        <p *ngIf="section.firstParagraph">{{ section.firstParagraph }}</p>
        <ul *ngIf="section.bulletItems">
          <li *ngFor="let bullet of section.bulletItems">
            <mat-icon class="plantl-color" style="font-size: 1.3em;">check_circle_outline</mat-icon>
            <span>{{ bullet }}</span>
          </li>
        </ul>
        <div *ngIf="section.items" fxLayout.gt-sm="row wrap" fxLayoutGap.gt-sm="1rem">
          <mat-card *ngFor="let item of section.items" fxFlex.gt-sm="30%" fxLayout="column"
            fxLayoutAlign="space-between">
            <div>
              <mat-card-title>{{ item.title }}</mat-card-title>
              <mat-chip-list aria-label="Categories">
                <mat-chip *ngIf="item.category">{{ item.category }}</mat-chip>
                <mat-chip *ngIf="item.date">{{ item.date | date }}</mat-chip>
              </mat-chip-list>
              <mat-card-content innerHTML="{{ item.description }}"></mat-card-content>
            </div>
            <mat-card-actions>
              <a mat-button color="primary" href="{{ item.href }}" target="_blank">
                <mat-icon>{{ item.icon }}</mat-icon>{{ item.type | titlecase }}
              </a>
            </mat-card-actions>
          </mat-card>
          <br />
          <a *ngIf="section.more" href="{{ section.more.href }}" target="_blank" mat-button color="primary">Explore more
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
        <p *ngIf="section.lastParagraph">{{ section.lastParagraph }}</p>
      </section>
    </main>
    <footer>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5rem" fxLayout.gt-sm="row"
        fxLayoutGap.gt-sm="3rem">
        <a *ngFor="let link of links; let last = last" href="{{ link.href }}" target="_blank">
          <img src="{{ link.img.src }}" alt="{{ link.img.alt }}">
          <mat-divider fxHide.gt-sm *ngIf="!last"></mat-divider>
        </a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5rem" style="margin-top: 2rem;">
        <span>
          This website was launched on December 2018 and redisigned with the Material Design guidelines later on
          June 2020 by <a href="https://github.com/aasensios">Alejandro Asensio</a>.
        </span>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
